<!DOCTYPE html>
<p th:fragment="tags" class="tags">
    <span class="tag">Java</span>
    <span class="tag">Javascript</span>
    <span class="tag">C</span>
    <span class="tag">C++</span>
    <span class="tag">C#</span>
    <span class="tag">Python</span>
    <span class="tag">PHP</span>
    <span class="tag">Ruby</span>
<!--    <span class="tag" id="perl">Perl</span>-->
<!--    <span class="tag" id="pascal">Pascal</span>-->
<!--    <span class="tag" id="swift">Swift</span>-->
<!--    <span class="tag" id="objectivec">Objective C</span>-->
<!--    <span class="tag" id="visualbasic">Visual Basic</span>-->
<!--    <span class="tag" id="net">.NET</span>-->
<!--    <span class="tag" id="r">R</span>-->
<!--    <span class="tag" id="sql">SQL</span>-->
<!--    <span class="tag" id="kotlin">Kotlin</span>-->
<!--    <span class="tag" id="rust">Rust</span>-->
<!--    <span class="tag" id="go">Go</span>-->
<!--    <span class="tag" id="scala">Scala</span>-->
<!--    <span class="tag" id="haskell">Haskell</span>-->
<!--    <span class="tag" id="angularjs">AngularJS</span>-->
<!--    <span class="tag" id="reactjs">ReactJS</span>-->
<!--    <span class="tag" id="expressjs">ExpressJS</span>-->
<!--    <span class="tag" id="nodejs">Node.js</span>-->
<!--    <span class="tag" id="vuejs">Vue.js</span>-->
<!--    <span class="tag" id="backbonejs">Backbone.js</span>-->
<!--    <span class="tag" id="aspnet">ASP.NET</span>-->
<!--    <span class="tag" id="symfony">Symfony</span>-->
<!--    <span class="tag" id="yii">Yii</span>-->
<!--    <span class="tag" id="meteor">Meteor</span>-->
<!--    <span class="tag" id="laravel">Laravel</span>-->
<!--    <span class="tag" id="ror">ROR</span>-->
<!--    <span class="tag" id="django">Django</span>-->
<!--    <span class="tag" id="bootstrap">Bootstrap</span>-->
<!--    <span class="tag" id="materialui">Material UI</span>-->
<!--    <span class="tag" id="wordpress">Wordpress</span>-->
<!--    <span class="tag" id="umbraco">Umbraco</span>-->
<!--    <span class="tag" id="sitecore">Sitecore</span>-->
<!--    <span class="tag" id="spring">Spring</span>-->
<!--    <span class="tag" id="ember">Ember</span>-->
<!--    <span class="tag" id="electron">Electron</span>-->
</p>