<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="teamsOuterBox" id="teamsOuterBox">
    <div class="projectsInnerBox"> <!-- THESE INNER BOXES WILL BE DYNAMICALLY GENERATED -->
        <div class="teamTitleBox">
            <p class="teamTitle"><a class=teamLink>Team Name 1</a> </p>
            <div class="tagsBox">
                <p th:replace="fragments/tags_template.html :: tags" class="tags">

                </p>
            </div>
        </div>

        <div class="teamPDBox">
            <p class="teamProDesc">Short description about the team including team size, most remarkable projects from team and some content that the user would like to be able to see when looking for unique teams.<br>
            This is just an example of more text within this field and isn't really necessary to read, so I hope you enjoy me just typing a load of random, sporadic nonsense into this field as I feel like it.<br>
            I'm actually quite enjoying this, its rather soothing.</p>
        </div>

    </div>

    <div class="projectsInnerBox"> <!-- THESE INNER BOXES WILL BE DYNAMICALLY GENERATED -->
        <div class="teamTitleBox">
            <p class="teamTitle"><a class=teamLink>Team Name 1</a> </p>
            <div class="tagsBox">
                <p th:replace="fragments/tags_template.html :: tags" class="tags">

                </p>
            </div>
        </div>

        <div class="teamPDBox">
            <p class="teamProDesc">Short description about the team including team size, most remarkable projects from team and some content that the user would like to be able to see when looking for unique teams.<br>
                This is just an example of more text within this field and isn't really necessary to read, so I hope you enjoy me just typing a load of random, sporadic nonsense into this field as I feel like it.<br>
                I'm actually quite enjoying this, its rather soothing.</p>
        </div>

    </div>

    <div class="projectsInnerBox"> <!-- THESE INNER BOXES WILL BE DYNAMICALLY GENERATED -->
        <div class="teamTitleBox">
            <p class="teamTitle"><a class=teamLink>Team Name 1</a> </p>
            <div class="tagsBox">
                <p th:replace="fragments/tags_template.html :: tags" class="tags">

                </p>
            </div>
        </div>

        <div class="teamPDBox">
            <p class="teamProDesc">Short description about the team including team size, most remarkable projects from team and some content that the user would like to be able to see when looking for unique teams.<br>
                This is just an example of more text within this field and isn't really necessary to read, so I hope you enjoy me just typing a load of random, sporadic nonsense into this field as I feel like it.<br>
                I'm actually quite enjoying this, its rather soothing.</p>
        </div>

    </div>

    <div class="projectsInnerBox"> <!-- THESE INNER BOXES WILL BE DYNAMICALLY GENERATED -->
        <div class="teamTitleBox">
            <p class="teamTitle"><a class=teamLink>Team Name 1</a> </p>
            <div class="tagsBox">
                <p th:replace="fragments/tags_template.html :: tags" class="tags">

                </p>
            </div>
        </div>

        <div class="teamPDBox">
            <p class="teamProDesc">Short description about the team including team size, most remarkable projects from team and some content that the user would like to be able to see when looking for unique teams.<br>
                This is just an example of more text within this field and isn't really necessary to read, so I hope you enjoy me just typing a load of random, sporadic nonsense into this field as I feel like it.<br>
                I'm actually quite enjoying this, its rather soothing.</p>
        </div>

    </div>

    <div class="projectsInnerBox"> <!-- THESE INNER BOXES WILL BE DYNAMICALLY GENERATED -->
        <div class="teamTitleBox">
            <p class="teamTitle"><a class=teamLink>Team Name 1</a> </p>
            <div class="tagsBox">
                <p th:replace="fragments/tags_template.html :: tags" class="tags">

                </p>
            </div>
        </div>

        <div class="teamPDBox">
            <p class="teamProDesc">Short description about the team including team size, most remarkable projects from team and some content that the user would like to be able to see when looking for unique teams.<br>
                This is just an example of more text within this field and isn't really necessary to read, so I hope you enjoy me just typing a load of random, sporadic nonsense into this field as I feel like it.<br>
                I'm actually quite enjoying this, its rather soothing.</p>
        </div>

    </div>

    <div class="projectsInnerBox"> <!-- THESE INNER BOXES WILL BE DYNAMICALLY GENERATED -->
        <div class="teamTitleBox">
            <p class="teamTitle"><a class=teamLink>Team Name 1</a> </p>
            <div class="tagsBox">
                <p th:replace="fragments/tags_template.html :: tags" class="tags">

                </p>
            </div>
        </div>

        <div class="teamPDBox">
            <p class="teamProDesc">Short description about the team including team size, most remarkable projects from team and some content that the user would like to be able to see when looking for unique teams.<br>
                This is just an example of more text within this field and isn't really necessary to read, so I hope you enjoy me just typing a load of random, sporadic nonsense into this field as I feel like it.<br>
                I'm actually quite enjoying this, its rather soothing.</p>
        </div>

    </div>

    <div class="projectsInnerBox"> <!-- THESE INNER BOXES WILL BE DYNAMICALLY GENERATED -->
        <div class="teamTitleBox">
            <p class="teamTitle"><a class=teamLink>Team Name 1</a> </p>
            <div class="tagsBox">
                <p th:replace="fragments/tags_template.html :: tags" class="tags">

                </p>
            </div>
        </div>

        <div class="teamPDBox">
            <p class="teamProDesc">Short description about the team including team size, most remarkable projects from team and some content that the user would like to be able to see when looking for unique teams.<br>
                This is just an example of more text within this field and isn't really necessary to read, so I hope you enjoy me just typing a load of random, sporadic nonsense into this field as I feel like it.<br>
                I'm actually quite enjoying this, its rather soothing.</p>
        </div>

    </div>

</div>