<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Deazy</title>
    <link href="http://allfont.net/allfont.css?fonts=franklin-gothic-book" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="styles/styles.css">
    <link rel="stylesheet" type="text/css" href="styles/create-project.css">
</head>

<body>

<nav th:replace="fragments/nav_template.html :: nav">
</nav>
    <main class="create-project">
                <form class="create-project" action="#" th:action="@{/input}" th:object="${input}" method="post">
                    <label class="input-label form-inner" for="teamName" ><b>Team Name</b></label>
                    <input class="input-text form-inner" id="teamName" type="text" th:field="*{teamName}" />
                    <label class="input-label form-inner" for="projectTitle" ><b>Project</b></label>
                    <input class="input-text form-inner" id="projectTitle" type="text" th:field="*{title}" />
                    <label class="input-label form-inner" for="content" ><b>Project Information</b></label>
                    <textarea class="input-text form-inner" id="Content" th:field="*{content}" />
                    <div class="buttons form-inner">
                        <input class="button" type="submit" value="Submit" />
                        <input class="button" type="reset" value="Reset" />
                    </div>
                </form>
    </main>
<footer id="footer" th:replace="fragments/footer_template.html :: footer"></footer>
</body>
</html>