<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Deazy</title>
    <link href="http://allfont.net/allfont.css?fonts=franklin-gothic-book" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="styles/styles.css">

</head>

<body>
<div id="page-container">
    <div id="content-wrap">

<!-- Navigation Bar -->

<nav th:replace="fragments/nav_template.html :: nav">
</nav>

<!-- Main Body -->

        <div class="scrollbar" id="scroll">
            <div class="force-overflow">
<main id="test">

    <div id="bg2">

        <div id="introduction">

            <div id="project-description">
                <h1>Teams</h1>
                <p>This page is used to view all the teams wroking with Deazy.</br>
                Select a team to view their available projects.</p>

            </div>
            <img id="pi" src="images/aqua-illustration.svg" alt="aqua illustration">

        </div>
    </div>

    <!-- Project Boxes -->
<!--    <h2 id="proh2">Teams</h2>-->
    <div class="separator"></div>

    <div th:replace="fragments/teams_outer_box_template.html :: #teamsOuterBox"></div>


</main>

    </div>

<!-- Footer -->

<footer th:replace="fragments/footer_template.html :: footer">
</footer>

</div>
    </div>
</div>
</body>

<!-- Scripts to generate data -->


</html>